---
# 課題3 - Pandas
10✔︎
12
14
15

In [8]:
# ライブラリのインストール
import pandas as pd
import numpy as np

---
課題0： 0から9までの一次元の配列を値に、a-jをインデックスとしてSeriesを作成せよ（変数名はsr）

In [9]:
# 以下よりコードを記入してください  ##############################
data = np.arange(0,10)
sr = pd.Series(data,index = ["a","b","c","d","e","f","g","h","i","j"])
# 出力  #################################################
display(sr)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

---
課題1： sample_dictをDataFrameに変換せよ

その際に"a, b, c, d, e"をインデックスとして追加すること（変数名はdf_1）

In [10]:
sample_dict = {'ID':['100','101','102','103','104'],
               'City':['Tokyo','Osaka','Kyoto','Hokkaido','Tokyo'],
               'Birth_year':[1990,1989,1992,1997,1982],
               'Name':['Hiroshi','Akiko','Yuki','Satoru','Steve']}
# 以下よりコードを記入してください  ##############################

df_1 = pd.DataFrame(sample_dict,index=["a","b","c","d","e"])
# 出力  #################################################
display(df_1)

    ID      City  Birth_year     Name
a  100     Tokyo        1990  Hiroshi
b  101     Osaka        1989    Akiko
c  102     Kyoto        1992     Yuki
d  103  Hokkaido        1997   Satoru
e  104     Tokyo        1982    Steve

---
課題2： df_1を転置して出力せよ（変数名はdf_2）

In [11]:
# 以下よりコードを記入してください  ##############################
df_2 = df_1.T

# 出力  #################################################
display(df_2)

                  a      b      c         d      e
ID              100    101    102       103    104
City          Tokyo  Osaka  Kyoto  Hokkaido  Tokyo
Birth_year     1990   1989   1992      1997   1982
Name        Hiroshi  Akiko   Yuki    Satoru  Steve

---
課題3： df_1からBirth_yearとIDのカラムの値を取り出しDataFrameとして出力せよ（変数名はdf_3）

またBirth_yearのカラムのみを取り出した場合の変数のタイプを出力せよ（変数名は by_type)

In [12]:
# 以下よりコードを記入してください  ##############################
df_3 = df_1[["Birth_year","ID"]]
by_type = type(df_1["Birth_year"])
# 出力  #################################################
display(df_3)
print(by_type)

   Birth_year   ID
a        1990  100
b        1989  101
c        1992  102
d        1997  103
e        1982  104

<class 'pandas.core.series.Series'>

---
課題4： df_1から'City'が'Tokyo'のデータを取り出して出力せよ（変数名はdf_4_1）

また'City'が'Tokyo'もしくは'Osaka'のデータを取り出して出力せよ（変数名はdf_4_2）

In [13]:
# 以下よりコードを記入してください  ##############################
df_4_1 = df_1[df_1["City"] == "Tokyo"]
df_4_2 = df_1[df_1["City"].isin(["Tokyo","Osaka"])]
# 出力  #################################################
display(df_4_1)
display(df_4_2)

    ID   City  Birth_year     Name
a  100  Tokyo        1990  Hiroshi
e  104  Tokyo        1982    Steve

    ID   City  Birth_year     Name
a  100  Tokyo        1990  Hiroshi
b  101  Osaka        1989    Akiko
e  104  Tokyo        1982    Steve

---
課題5： sample_dict_2とsample_dict_3をDataFrameに変換し、
- idをキーに内部結合（変数名はdf_5_1）
- 全結合（変数名はdf_5_2)
- 左外部結合（変数名はdf_5_3)

上記3つの結合結果を表示せよ

In [14]:
sample_dict_2 = {
    'id': ['100', '101', '102', '103', '104', '106', '108', '110', '111', ' 113'],
    'city': ['Tokyo', 'Osaka', 'Kyoto', 'Hokkaido', 'Tokyo', 'Tokyo', 'Osaka', 'Kyoto', 'Hokkaido', 'Tokyo'],
    'birth_year': [1990, 1989, 1992, 1997, 1982, 1991, 1988, 1990, 1995, 1981],
    'name': ['Hiroshi', 'Akiko', 'Yuki', 'Satoru', 'Steeve', 'Mituru', 'Aoi', 'Tarou', 'Suguru', 'Mitsuo']
}
sample_dict_3 =  {
    'id': ['100', '101', '102', '105', '107'],
    'math': [50, 43, 33, 76, 98],
    'english': [90, 30, 20, 50, 30],
    'sex': ['M', 'F', 'F', 'M', 'M'], 
    'index_num': [0, 1, 2, 3, 4]
}
# 以下よりコードを記入してください  ##############################
df_s_2 = pd.DataFrame(sample_dict_2)
df_s_3 = pd.DataFrame(sample_dict_3)

df_5_1 = pd.merge(df_s_2,df_s_3, on = "id")
df_5_2 = pd.merge(df_s_2,df_s_3, how = "outer")
df_5_3 = pd.merge(df_s_2,df_s_3, how = "left")
# 出力  #################################################
display(df_5_1)
display(df_5_2)
display(df_5_3)

    id   city  birth_year     name  math  english sex  index_num
0  100  Tokyo        1990  Hiroshi    50       90   M          0
1  101  Osaka        1989    Akiko    43       30   F          1
2  102  Kyoto        1992     Yuki    33       20   F          2

      id      city  birth_year     name  math  english  sex  index_num
0    100     Tokyo      1990.0  Hiroshi  50.0     90.0    M        0.0
1    101     Osaka      1989.0    Akiko  43.0     30.0    F        1.0
2    102     Kyoto      1992.0     Yuki  33.0     20.0    F        2.0
3    103  Hokkaido      1997.0   Satoru   NaN      NaN  NaN        NaN
4    104     Tokyo      1982.0   Steeve   NaN      NaN  NaN        NaN
5    106     Tokyo      1991.0   Mituru   NaN      NaN  NaN        NaN
6    108     Osaka      1988.0      Aoi   NaN      NaN  NaN        NaN
7    110     Kyoto      1990.0    Tarou   NaN      NaN  NaN        NaN
8    111  Hokkaido      1995.0   Suguru   NaN      NaN  NaN        NaN
9    113     Tokyo      1981.0   Mitsuo   NaN      NaN  NaN        NaN
10   105       NaN         NaN      NaN  76.0     50.0    M        3.0
11   107       NaN         NaN      NaN  98.0     30.0    M        4.0

     id      city  birth_year     name  math  english  sex  index_num
0   100     Tokyo        1990  Hiroshi  50.0     90.0    M        0.0
1   101     Osaka        1989    Akiko  43.0     30.0    F        1.0
2   102     Kyoto        1992     Yuki  33.0     20.0    F        2.0
3   103  Hokkaido        1997   Satoru   NaN      NaN  NaN        NaN
4   104     Tokyo        1982   Steeve   NaN      NaN  NaN        NaN
5   106     Tokyo        1991   Mituru   NaN      NaN  NaN        NaN
6   108     Osaka        1988      Aoi   NaN      NaN  NaN        NaN
7   110     Kyoto        1990    Tarou   NaN      NaN  NaN        NaN
8   111  Hokkaido        1995   Suguru   NaN      NaN  NaN        NaN
9   113     Tokyo        1981   Mitsuo   NaN      NaN  NaN        NaN

---
課題6： sample_df_1のデータに対してCityごとにデータ数をカウントせよ（変数名はdf_6_1）

また、cityごとのbirth_yearの平均値を求めよ（変数名はdf_6_2）

※出力はDataFrame指定

In [15]:
# 以下よりコードを記入してください  ##############################
df_6_1 = df_1["City"].value_counts() 
df_6_2 = df_1.groupby("City")["Birth_year"].mean()
# 出力  #################################################
display(df_6_1)
display(df_6_2)

Tokyo       2
Hokkaido    1
Osaka       1
Kyoto       1
Name: City, dtype: int64

City
Hokkaido    1997
Kyoto       1992
Osaka       1989
Tokyo       1986
Name: Birth_year, dtype: int64

---
課題7： 
- nan_dfの欠損値のある行をすべて取り除き出力せよ（変数名はdf_7_1）
- nan_dfの欠損値を各カラムの平均値で埋めて出力せよ（変数名はdf_7_2）

In [16]:
nan_df = pd.DataFrame(np.random.rand(10,4))
nan_df.iloc[1, 0] = np.nan
nan_df.iloc[2:4, 3] = np.nan
nan_df.iloc[5:, 2] = np.nan
# 以下よりコードを記入してください  ##############################
df_7_1 = nan_df.dropna()
df_7_2 = nan_df.fillna(nan_df.mean())

# 出力  #################################################
display(df_7_1)
display(df_7_2)

          0         1         2         3
0  0.065891  0.352824  0.791968  0.213432
4  0.364874  0.690321  0.547452  0.571447

          0         1         2         3
0  0.065891  0.352824  0.791968  0.213432
1  0.418458  0.962551  0.440292  0.596702
2  0.533552  0.344013  0.004844  0.500107
3  0.141026  0.296273  0.991463  0.500107
4  0.364874  0.690321  0.547452  0.571447
5  0.358655  0.644404  0.555204  0.248753
6  0.464498  0.145128  0.555204  0.819774
7  0.628741  0.414911  0.555204  0.265025
8  0.617142  0.526915  0.555204  0.833915
9  0.591740  0.844793  0.555204  0.451810

---
課題8： 
- sample_df_2に接頭辞「1_」を付けて出力せよ（変数名はdf_8_1）
- sample_df_2に接尾辞「_z」を付けて出力せよ（変数名はdf_8_2）

In [17]:
# 以下よりコードを記入してください  ##############################
df_8_1 = df_2.add_prefix("1_")
df_8_2 = df_2.add_suffix("_z")

# 出力  #################################################
display(df_8_1)
display(df_8_2)

                1_a    1_b    1_c       1_d    1_e
ID              100    101    102       103    104
City          Tokyo  Osaka  Kyoto  Hokkaido  Tokyo
Birth_year     1990   1989   1992      1997   1982
Name        Hiroshi  Akiko   Yuki    Satoru  Steve

                a_z    b_z    c_z       d_z    e_z
ID              100    101    102       103    104
City          Tokyo  Osaka  Kyoto  Hokkaido  Tokyo
Birth_year     1990   1989   1992      1997   1982
Name        Hiroshi  Akiko   Yuki    Satoru  Steve

---
課題9： sample_df_2のidをfloatに変換し、birth_yearはintに変換しsample_df_2から数値タイプのカラムのみを取り出せ（変数名はdf_9）

※カラム名を直接指定するのはNG

In [18]:
# 以下よりコードを記入してください  ##############################
sample_df_2 = pd.DataFrame(sample_dict_2)
sample_df_2["id"] = sample_df_2["id"].astype("float")
sample_df_2["birth_year"] = sample_df_2["birth_year"].astype("int")
df_9 = sample_df_2.select_dtypes(["int64","float64"])

# 出力  #################################################
display(df_9)

      id  birth_year
0  100.0        1990
1  101.0        1989
2  102.0        1992
3  103.0        1997
4  104.0        1982
5  106.0        1991
6  108.0        1988
7  110.0        1990
8  111.0        1995
9  113.0        1981

---
課題10： numeric_dfを行方向に7対3に分割し、DataFrameの行数、列数がわかるように出力せよ（変数名はdf_10_1, df_10_2）

※ただしdf_10_1の方がdf_10_2よりも行数が多くなるように設定せよ

In [21]:
numeric_df = pd.DataFrame(np.random.randint(1,100, (20,7)))
# 以下よりコードを記入してください  ##############################
df_10_1 = numeric_df.iloc[0:14]
df_10_2 = numeric_df.iloc[14:20]
# 出力  #################################################
print(df_10_1.shape)
print(df_10_2.shape)

(14, 7)
(6, 7)

*解き直し*

In [20]:
numeric_df = pd.DataFrame(np.random.randint(1,100, (20,7)))
# 以下よりコードを記入してください  ##############################
l = len(numeric_df)
t = int(l * 0.7)

df_10_1 = numeric_df.iloc[0:t]
df_10_2 = numeric_df.iloc[t:l]
# 出力  #################################################
print(df_10_1.shape)
print(df_10_2.shape)

(14, 7)
(6, 7)

---
課題11： age_dfの'age'カラムの値に対して'age_group'カラムを追加して、

- 0 ~ 18までを'kids'
- 19 ~ 65までを'adult'
- 65 ~ 99までを'elderly'

と分類し表示せよ（変数名はage_df）

In [17]:
age_df = numeric_df.rename(columns={0: 'age'}, inplace=False)
# 以下よりコードを記入してください  ##############################
bins = [0,18,65,99]
labels = ["kids","adult","elderly"]
age_df["age_group"] = pd.cut(age_df["age"],bins,labels = labels)
# 出力  #################################################
display(age_df)

    age   1   2   3   4   5   6 age_group
0    47  38  88  21  53  80  71     adult
1    40  60  87  26  30  99  68     adult
2    85  30  32  10  75  85  71   elderly
3    62  11  97  46  10  96  95     adult
4     3  65   4  82  90  52  46      kids
5    51  55  26  19  20  24  17     adult
6    75  23  37  88  26  64  88   elderly
7    84  21  74  16  99  14  99   elderly
8     9  49  85  81  89  96  92      kids
9    32  95  78  12   5  81  30     adult
10   34  95  69  70  26  67  94     adult
11   24  73  11  34  66  37  99     adult
12   99  21  15  81  13  74  86   elderly
13   24  25  64  98  72  83  90     adult
14   13  25  23  65  16  94  82      kids
15   28  23  38  27  50  55  40     adult
16   54  63  89  21  38  58  79     adult
17   52  33  49  82  31  24  86     adult
18   36  29  63  27  14  42  21     adult
19   32  50  28  30  75  18  99     adult

---
課題12： name_dictをDataFrameに変換し以下の二つの条件を満たすDataFrameを出力せよ（変数名はname_df）
- 'name'の値はfirst,middle,lastに分割し、それぞれを個別のカラムに格納してname_dfに追加
- 'location'の","より前の値をcityカラムに格納してname_dfに追加

In [41]:
name_dict = {"name":["John Artur Doe", "Jane Ann Smith", "Nico P"], 
     "location":["Los Angeles, CA", "Washington, DC", "Barcelona, Spain"]}
# 以下よりコードを記入してください  ##############################

name_df = pd.DataFrame(name_dict)


first = name_df["name"].map(lambda x:x.split()[0])
middle = name_df["name"].map(lambda x:x.split()[1])
last = name_df["name"][0:2].map(lambda x:x.split()[2])
last[2] = np.nan

name_df["first"] = first
name_df["middle"] = middle
name_df["last"] = last

city = name_df["location"].map(lambda x:x.split(",")[0])

name_df["city"] = city
# 出力  #################################################
display(name_df)

             name          location first middle   last         city
0  John Artur Doe   Los Angeles, CA  John  Artur    Doe  Los Angeles
1  Jane Ann Smith    Washington, DC  Jane    Ann  Smith   Washington
2          Nico P  Barcelona, Spain  Nico      P    NaN    Barcelona

*解き直し*

In [97]:
name_dict = {"name":["John Artur Doe", "Jane Ann Smith", "Nico P"], 
     "location":["Los Angeles, CA", "Washington, DC", "Barcelona, Spain"]}
# 以下よりコードを記入してください  ##############################

name_df = pd.DataFrame(name_dict)

def split(x):
    name = x.map(lambda x:x.split())
    return name

first = split(name_df["name"])[0]
middle = split(name_df["name"])[1]
last = split(name_df["name"])[2]
last.append(np.nan)

name_df["first"] = first
name_df["middle"] = middle
name_df["last"] = last

city = name_df["location"].map(lambda x:x.split(",")[0])

name_df["city"] = city
# 出力  #################################################
display(name_df)

             name          location  first middle  last         city
0  John Artur Doe   Los Angeles, CA   John   Jane  Nico  Los Angeles
1  Jane Ann Smith    Washington, DC  Artur    Ann     P   Washington
2          Nico P  Barcelona, Spain    Doe  Smith   NaN    Barcelona

---
課題13： data/CarPrice_Assignment.csvを読み込み 'CarName'のトップ3をlistで出力し、その値を持つデータを取り出して出力せよ

（変数名はそれぞれlist_13, df_13）

In [132]:
# データの読み込み
car_price_assign_df = pd.read_csv('../data/CarPrice_Assignment.csv')

In [133]:
# 以下よりコードを記入してください  ##############################
list_13 = car_price_assign_df["CarName"].value_counts().index[0:3].tolist()
df_13 = car_price_assign_df[car_price_assign_df["CarName"].isin(list_13)]


# 出力  #################################################
display(list_13)
display(df_13)

['peugeot 504', 'toyota corolla', 'toyota corona']

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
107,108,0,peugeot 504,gas,std,four,sedan,rwd,front,107.9,...,120,mpfi,3.46,3.19,8.4,97,5000,19,24,11900.0
110,111,0,peugeot 504,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.70,3.52,21.0,95,4150,25,25,13860.0
111,112,0,peugeot 504,gas,std,four,sedan,rwd,front,107.9,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,15580.0
113,114,0,peugeot 504,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695.0
115,116,0,peugeot 504,gas,std,four,sedan,rwd,front,107.9,...,120,mpfi,3.46,3.19,8.4,97,5000,19,24,16630.0
116,117,0,peugeot 504,diesel,turbo,four,sedan,rwd,front,107.9,...,152,idi,3.70,3.52,21.0,95,4150,28,33,17950.0
151,152,1,toyota corona,gas,std,two,hatchback,fwd,front,95.7,...,92,2bbl,3.05,3.03,9.0,62,4800,31,38,6338.0
158,159,0,toyota corona,diesel,std,four,sedan,fwd,front,95.7,...,110,idi,3.27,3.35,22.5,56,4500,34,36,7898.0
159,160,0,toyota corolla,diesel,std,four,hatchback,fwd,front,95.7,...,110,idi,3.27,3.35,22.5,56,4500,38,47,7788.0
160,161,0,toyota corona,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,38,47,7738.0
161,162,0,toyota corolla,gas,std,four,hatchback,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,28,34,8358.0
164,165,1,toyota corona,gas,std,two,hatchback,rwd,front,94.5,...,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8238.0
168,169,2,toyota corolla,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,9639.0
171,172,2,toyota corolla,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,11549.0
173,174,-1,toyota corolla,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,29,34,8948.0
175,176,-1,toyota corona,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,9988.0
176,177,-1,toyota corolla,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,10898.0
179,180,3,toyota corona,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.3,161,5200,19,24,15998.0

---
課題14： car_price_assign_dfの'carbody'に対して頻出度10以下を'others'に置き換えて出力せよ。以下の変数で対応する値を出力せよ。
- frequencies: car_price_assign_dfの'carbody'の値と出現回数
- small_categories: 閾値10回に満たない'carbody'の値と出現回数
- others_freq: othersに置き換えた後の'carbody'の値と出現回数

In [129]:
# 以下よりコードを記入してください  ##############################
frequencies = car_price_assign_df["carbody"].value_counts()

small_categories = frequencies[frequencies<10].index.to_list()

car_price_assign_df = car_price_assign_df.replace({small_categories[0]:"others"})
car_price_assign_df = car_price_assign_df.replace({small_categories[1]:"others"})
others_freq = car_price_assign_df["carbody"].value_counts()

# 出力  #################################################
print(frequencies)
print('#' * 20)
print(small_categories)
print('#' * 20)
print(others_freq)

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64
####################
['hardtop', 'convertible']
####################
sedan        96
hatchback    70
wagon        25
others       14
Name: carbody, dtype: int64

*解き直し*

In [134]:
# 以下よりコードを記入してください  ##############################
frequencies = car_price_assign_df["carbody"].value_counts()

t = 10
small_categories = frequencies[frequencies<t].index.to_list()

car_price_assign_df = car_price_assign_df.replace({small_categories[0]:"others"})
car_price_assign_df = car_price_assign_df.replace({small_categories[1]:"others"})
others_freq = car_price_assign_df["carbody"].value_counts()

# 出力  #################################################
print(frequencies)
print('#' * 20)
print(small_categories)
print('#' * 20)
print(others_freq)

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64
####################
['hardtop', 'convertible']
####################
sedan        96
hatchback    70
wagon        25
others       14
Name: carbody, dtype: int64

---
課題15： 自分で好きなデータセットを作成 or 取得してきてデータ分析してみよう。
- 使用したデータ
- データからどんなことが言えそうか？（考察）
- 考察に対してどうやってアプローチしたか？（仮説などもあると良い）

参考サイト[Kaggle Dataset](https://www.kaggle.com/datasets)などから取ってくると良いと思います。

データセットの探し方がわからない場合は適宜メンターに聞いてみてください。

例えば、[タイタニック号沈没事故に関するデータ](https://www.kaggle.com/c/titanic/overview)の場合
- 乗客の生存率に大きく影響のありそうなデータは何か？
- どういう前処理をすると良さそうか？

などなど

***解答***

**・使用データ**

housepriceを予測するデータセットを使用

In [16]:
train = pd.read_csv('../data/train.csv')

In [3]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
train.shape

(1460, 81)

**とりあえず欠損値の確認と特徴を調べる**

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [82]:
train["PoolQC"].value_counts()

Gd    3
Ex    2
Fa    2
Name: PoolQC, dtype: int64

In [92]:
train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Ex,Fa,Gd,NaN
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,2,2008,WD,Normal,208500,0,0,0,1
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,5,2007,WD,Normal,181500,0,0,0,1
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,9,2008,WD,Normal,223500,0,0,0,1
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,2,2006,WD,Abnorml,140000,0,0,0,1
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,12,2008,WD,Normal,250000,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,8,2007,WD,Normal,175000,0,0,0,1
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,2,2010,WD,Normal,210000,0,0,0,1
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,2500,5,2010,WD,Normal,266500,0,0,0,1
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,4,2010,WD,Normal,142125,0,0,0,1
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,6,2008,WD,Normal,147500,0,0,0,1

In [23]:
Pool_df = train[train["PoolQC"].isin(["Gd","Fa","Ex"])]
print("プールがある時")
Pool_df.groupby("PoolQC")["SalePrice"].mean()

プールがある時

PoolQC
Ex    490000
Fa    215500
Gd    201990
Name: SalePrice, dtype: int64

In [24]:
print("プールがない時")
train["SalePrice"].mean()

プールがない時

180921.19589041095

*プールがある時は全体的に価格が高く、特にExの時が高い。欠損値はプール無しなのでそのまま*

In [33]:
Pool_df.groupby("PoolQC")["SalePrice"].mean()

PoolQC
Ex    490000
Fa    215500
Gd    201990
Name: SalePrice, dtype: int64

In [37]:
train["MiscFeature"].value_counts()

Shed    49
Gar2     2
Othr     2
TenC     1
Name: MiscFeature, dtype: int64

In [39]:
train.groupby("MiscFeature")["SalePrice"].mean()

MiscFeature
Gar2    170750.000000
Othr     94000.000000
Shed    151187.612245
TenC    250000.000000
Name: SalePrice, dtype: float64

**MiscFeatureによって違いはありそうだが欠損値はよくわからないのでそのまま**

**Fenceについて**

In [50]:
train["Fence"].value_counts()

MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: Fence, dtype: int64

In [52]:
train.groupby("Fence")["SalePrice"].describe()

,count,mean,std,min,25%,50%,75%,max
Fence,,,,,,,,
GdPrv,59.0,178927.457627,56757.237563,108000.0,144950.0,167500.0,189475.0,475000.0
GdWo,54.0,140379.314815,53592.585059,34900.0,118625.0,138750.0,151750.0,381000.0
MnPrv,157.0,148751.089172,66096.069463,40000.0,119900.0,137450.0,158000.0,745000.0
MnWw,11.0,134286.363636,21781.805376,110000.0,121500.0,130000.0,143000.0,187000.0

In [54]:
train["SalePrice"].describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

**Fenceはそれほど価格に影響しなさそう**

In [103]:
train["LotFrontage"].head(15)

0     65.0
1     80.0
2     68.0
3     60.0
4     84.0
5     85.0
6     75.0
7      NaN
8     51.0
9     50.0
10    70.0
11    85.0
12     NaN
13    91.0
14     NaN
Name: LotFrontage, dtype: float64

***ここからは目的変数への影響度が大きそうな特徴量を調べてみる***

In [67]:
train.corr().sort_values("SalePrice")

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
KitchenAbvGr,0.002951,0.281721,-0.006069,-0.017784,-0.183882,-0.087001,-0.174800,-0.149598,-0.037610,-0.081007,...,-0.090130,-0.070091,0.037312,-0.024600,-0.051613,-0.014525,0.062341,0.026589,0.031687,-0.135907
EnclosedPorch,0.002889,-0.012037,0.010700,-0.018340,-0.113937,0.070356,-0.387268,-0.193919,-0.110204,-0.102303,...,-0.125989,-0.093079,1.000000,-0.037305,-0.082864,0.054203,0.018361,-0.028887,-0.009916,-0.128578
MSSubClass,0.011156,1.000000,-0.386347,-0.139781,0.032628,-0.059316,0.027850,0.040581,0.022936,-0.069836,...,-0.012579,-0.006100,-0.012037,-0.043825,-0.026030,0.008283,-0.007683,-0.013585,-0.021407,-0.084284
OverallCond,0.012609,-0.059316,-0.059213,-0.005636,-0.091932,1.000000,-0.375983,0.073741,-0.128101,-0.046231,...,-0.003334,-0.032589,0.070356,0.025504,0.054811,-0.001985,0.068777,-0.003511,0.043950,-0.077856
YrSold,0.000712,-0.021407,0.007450,-0.014261,-0.027347,0.043950,-0.013618,0.035743,-0.008201,0.014359,...,0.022270,-0.057619,-0.009916,0.018645,0.010694,-0.059689,0.004906,-0.145721,1.000000,-0.028923
LowQualFinSF,-0.044230,0.046474,0.038469,0.004779,-0.030429,0.025494,-0.183784,-0.062419,-0.069071,-0.064503,...,-0.025444,0.018251,0.061081,-0.004296,0.026799,0.062157,-0.003793,-0.022174,-0.028921,-0.025606
Id,1.000000,0.011156,-0.010601,-0.033226,-0.028365,0.012609,-0.012713,-0.021998,-0.050298,-0.005024,...,-0.029643,-0.000477,0.002889,-0.046635,0.001330,0.057044,-0.006242,0.021172,0.000712,-0.021917
MiscVal,-0.006242,-0.007683,0.003368,0.038068,-0.031406,0.068777,-0.034383,-0.010286,-0.029815,0.003571,...,-0.009551,-0.018584,0.018361,0.000354,0.031946,0.029669,1.000000,-0.006495,0.004906,-0.021190
BsmtHalfBath,-0.020155,-0.002333,-0.007234,0.048046,-0.040150,0.117821,-0.038162,-0.012337,0.026673,0.067418,...,0.040161,-0.025324,-0.008555,0.035114,0.032121,0.020025,-0.007367,0.032873,-0.046524,-0.016844
BsmtFinSF2,-0.005968,-0.065649,0.049900,0.111170,-0.059119,0.040229,-0.049107,-0.067759,-0.072319,-0.050117,...,0.067898,0.003093,0.036543,-0.029993,0.088871,0.041709,0.004940,-0.015211,0.031706,-0.011378
3SsnPorch,-0.046635,-0.043825,0.070029,0.020423,0.030371,0.025504,0.031355,0.045286,0.018796,0.026451,...,-0.032771,-0.005842,-0.037305,1.000000,-0.031436,-0.007992,0.000354,0.029474,0.018645,0.044584
MoSold,0.021172,-0.013585,0.011200,0.001205,0.070815,-0.003511,0.012398,0.021490,-0.005965,-0.015727,...,0.021011,0.071255,-0.028887,0.029474,0.023217,-0.033737,-0.006495,1.000000,-0.145721,0.046432
PoolArea,0.057044,0.008283,0.206167,0.077672,0.065166,-0.001985,0.004950,0.005829,0.011723,0.140491,...,0.073378,0.060762,0.054203,-0.007992,0.051307,1.000000,0.029669,-0.033737,-0.059689,0.092404
ScreenPorch,0.001330,-0.026030,0.041383,0.043160,0.064886,0.054811,-0.050364,-0.038740,0.061466,0.062021,...,-0.074181,0.074304,-0.082864,-0.031436,1.000000,0.051307,0.031946,0.023217,0.010694,0.111447
BedroomAbvGr,0.037719,-0.023438,0.263170,0.119690,0.101676,0.012980,-0.070651,-0.040581,0.102821,-0.107355,...,0.046854,0.093810,0.041570,-0.024478,0.044300,0.070703,0.007767,0.046544,-0.036014,0.168213
BsmtUnfSF,-0.007940,-0.140759,0.132644,-0.002618,0.308159,-0.136841,0.149040,0.181133,0.114442,-0.495251,...,-0.005316,0.129005,-0.002538,0.020764,-0.012579,-0.035092,-0.023837,0.034888,-0.041258,0.214479
BsmtFullBath,0.002289,0.003491,0.100949,0.158155,0.111098,-0.054942,0.187599,0.119470,0.085310,0.649212,...,0.175315,0.067341,-0.049911,-0.000106,0.023148,0.067616,-0.023047,-0.025361,0.067049,0.227122
LotArea,-0.033226,-0.139781,0.426095,1.000000,0.105806,-0.005636,0.014228,0.013788,0.104160,0.214103,...,0.171698,0.084774,-0.018340,0.020423,0.043160,0.077672,0.038068,0.001205,-0.014261,0.263843
HalfBath,0.006784,0.177354,0.053532,0.014259,0.273458,-0.060769,0.242656,0.183331,0.201444,0.004262,...,0.108080,0.199740,-0.095317,-0.004972,0.072426,0.022381,0.001290,-0.009050,-0.010269,0.284108
OpenPorchSF,-0.000477,-0.006100,0.151972,0.084774,0.308819,-0.032589,0.188686,0.226298,0.125703,0.111761,...,0.058661,1.000000,-0.093079,-0.005842,0.074304,0.060762,-0.018584,0.071255,-0.057619,0.315856
2ndFlrSF,0.005590,0.307886,0.080177,0.050986,0.295493,0.028942,0.010308,0.140024,0.174561,-0.137079,...,0.092165,0.208026,0.061989,-0.024358,0.040606,0.081487,0.016197,0.035164,-0.028700,0.319334
WoodDeckSF,-0.029643,-0.012579,0.088521,0.171698,0.238923,-0.003334,0.224880,0.205726,0.159718,0.204306,...,1.000000,0.058661,-0.125989,-0.032771,-0.074181,0.073378,-0.009551,0.021011,0.022270,0.324413
LotFrontage,-0.010601,-0.386347,1.000000,0.426095,0.251646,-0.059213,0.123349,0.088866,0.193458,0.233633,...,0.088521,0.151972,0.010700,0.070029,0.041383,0.206167,0.003368,0.011200,0.007450,0.351799
BsmtFinSF1,-0.005024,-0.069836,0.233633,0.214103,0.239666,-0.046231,0.249503,0.128451,0.264736,1.000000,...,0.204306,0.111761,-0.102303,0.026451,0.062021,0.140491,0.003571,-0.015727,0.014359,0.386420
Fireplaces,-0.019772,-0.045569,0.266639,0.271364,0.396765,-0.023820,0.147716,0.112581,0.249070,0.260011,...,0.200019,0.169405,-0.024822,0.011257,0.184530,0.095074,0.001409,0.046357,-0.024096,0.466929
MasVnrArea,-0.050298,0.022936,0.193458,0.104160,0.411876,-0.128101,0.315707,0.179618,1.000000,0.264736,...,0.159718,0.125703,-0.110204,0.018796,0.061466,0.011723,-0.029815,-0.005965,-0.008201,0.477493
GarageYrBlt,0.000072,0.085072,0.070250,-0.024947,0.547766,-0.324297,0.825667,0.642277,0.252691,0.153484,...,0.224577,0.228425,-0.297003,0.023544,-0.075418,-0.014501,-0.032417,0.005337,-0.001014,0.486362
YearRemodAdd,-0.021998,0.040581,0.088866,0.013788,0.550684,0.073741,0.592855,1.000000,0.179618,0.128451,...,0.205726,0.226298,-0.193919,0.045286,-0.038740,0.005829,-0.010286,0.021490,0.035743,0.507101
YearBuilt,-0.012713,0.027850,0.123349,0.014228,0.572323,-0.375983,1.000000,0.592855,0.315707,0.249503,...,0.224880,0.188686,-0.387268,0.031355,-0.050364,0.004950,-0.034383,0.012398,-0.013618,0.522897
TotRmsAbvGrd,0.027239,0.040380,0.352096,0.190015,0.427452,-0.057583,0.095589,0.191740,0.280682,0.044316,...,0.165984,0.234192,0.004151,-0.006683,0.059383,0.083757,0.024763,0.036907,-0.034516,0.533723
FullBath,0.005587,0.131608,0.198769,0.126031,0.550600,-0.194149,0.468271,0.439046,0.276833,0.058543,...,0.187703,0.259977,-0.115093,0.035353,-0.008106,0.049604,-0.014290,0.055872,-0.019669,0.560664
1stFlrSF,0.010496,-0.251758,0.457181,0.299475,0.476224,-0.144203,0.281986,0.240379,0.344501,0.445863,...,0.235459,0.211671,-0.065292,0.056104,0.088758,0.131525,-0.021096,0.031372,-0.013604,0.605852
TotalBsmtSF,-0.015415,-0.238518,0.392075,0.260833,0.537808,-0.171098,0.391452,0.291066,0.363936,0.522396,...,0.232019,0.247264,-0.095478,0.037384,0.084489,0.126053,-0.018479,0.013196,-0.014969,0.613581
GarageArea,0.017634,-0.098672,0.344997,0.180403,0.562022,-0.151521,0.478954,0.371600,0.373066,0.296970,...,0.224666,0.241435,-0.121777,0.035087,0.051412,0.061047,-0.027400,0.027974,-0.027378,0.623431
GarageCars,0.016570,-0.040110,0.285691,0.154871,0.600671,-0.185758,0.537850,0.420622,0.364204,0.224054,...,0.226342,0.213569,-0.151434,0.035765,0.050494,0.020934,-0.043080,0.040522,-0.039117,0.640409
GrLivArea,0.008273,0.074853,0.402797,0.263116,0.593007,-0.079686,0.199010,0.287389,0.390857,0.208171,...,0.247433,0.330224,0.009113,0.020643,0.101510,0.170205,-0.002416,0.050240,-0.036526,0.708624
OverallQual,-0.028365,0.032628,0.251646,0.105806,1.000000,-0.091932,0.572323,0.550684,0.411876,0.239666,...,0.238923,0.308819,-0.113937,0.030371,0.064886,0.065166,-0.031406,0.070815,-0.027347,0.790982
SalePrice,-0.021917,-0.084284,0.351799,0.263843,0.790982,-0.077856,0.522897,0.507101,0.477493,0.386420,...,0.324413,0.315856,-0.128578,0.044584,0.111447,0.092404,-0.021190,0.046432,-0.028923,1.000000

**とりあえず0.6以上に注目する**

In [92]:
df_2 = train[["OverallQual","GrLivArea","GarageCars","GarageArea","TotalBsmtSF","1stFlrSF","FullBath","TotRmsAbvGrd","YearBuilt","YearRemodAdd"]]

In [93]:
df_2.isnull().sum()

OverallQual     0
GrLivArea       0
GarageCars      0
GarageArea      0
TotalBsmtSF     0
1stFlrSF        0
FullBath        0
TotRmsAbvGrd    0
YearBuilt       0
YearRemodAdd    0
dtype: int64

In [94]:
df_2

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,YearRemodAdd
0,7,1710,2,548,856,856,2,8,2003,2003
1,6,1262,2,460,1262,1262,2,6,1976,1976
2,7,1786,2,608,920,920,2,6,2001,2002
3,7,1717,3,642,756,961,1,7,1915,1970
4,8,2198,3,836,1145,1145,2,9,2000,2000
...,...,...,...,...,...,...,...,...,...,...
1455,6,1647,2,460,953,953,2,7,1999,2000
1456,6,2073,2,500,1542,2073,2,7,1978,1988
1457,7,2340,1,252,1152,1188,2,9,1941,2006
1458,5,1078,1,240,1078,1078,1,5,1950,1996
1459,5,1256,1,276,1256,1256,1,6,1965,1965